@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
:root{
    --green:#27ae60;
    --black: #161616;
    --light-color:#666;
    --blue: #0F2C56;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 30px;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 16px;
    color:#fff;
    background: #174f9c;
    border-radius: .5rem;
    cursor: pointer;
    padding: 10px 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 20px;
    font-weight: bolder;
}

header .logo i{
    color: #0F2C56;
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: #174f9c;
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #174f9c;
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(26, 25, 25, 0.4);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(#0F2C56);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

.home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}

.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide .image img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:#174f9c;
    font-size: 7rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
}

/* Menu */

.dishes .heading{
    margin-bottom: 0;
    
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color:#fff;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

/* Section About */
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 10px;
    font-size: 23px;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: 10px;
    position: relative;    
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

/* Footer */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--green);
    
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 15px;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}



#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(26, 25, 25, 0.4);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{ 
    border: none;
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}


/* Page Order */
.sub-heading{
    margin-top: 6%;
    text-align: center;
    color: #0F2C56;
    
}
.order{
    height: 850px;
    border: none;
    outline: none;
}
.order form{
    max-width:90rem;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: #666;
    padding: 20px;
    margin: auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .btn{
    margin-top: 0;
}

.tabel-section{
    height: 800px;
}

.tabel-section h2{
    font-weight: bold;
    text-align: center;
    margin-top: 7%;
}
.tabel-section .tabel{
    border: 1px solid #ddd;
    border-spacing: 0;
    width: max-content;
    border-collapse: collapse;
    Margin : auto;
    margin-top: 3%;
}

.tabel-section .tabel td{
    text-align: left;
    padding: 16px;
    
}

.tabel-section .tabel tr:nth-child(even){   
    background-color: #f2f2f2;
}


/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

/* style Login */

.login{
    background-color: white;
    padding: 35px 47px;
    height: 300px;
    position: absolute;
    width: 300px;
    box-shadow: 1px 1px 7px 1px rgba(207, 207, 207, 0.8) ;
    border-radius: 7px;
    top: 17%;
    left: 41%;
    color: black;
    text-align: left;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.namaakun{
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
}

.user{
    align-items: center;
    padding: 3px 20px;
    border: 1px solid #0095F6;
    border-radius: 5px;
}

.btn-login{
    padding: 5px 78px;
    border-radius: 7px;
    border: 0;
    background-color: #174f9c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
}

.btn-login:hover{
    background: var(--green);
}

.daftar-login{
    background-color: #fff;
    position: fixed;
    top: 57%;
    left: 41%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding: 15px 75px;
    box-shadow: 1px 1px 7px 1px rgba(207, 207, 207, 0.8) ;
    border-radius: 7px;
}


.link{
    text-decoration: none;
    color: blue;
    font-weight: bold;
   
}
.link:hover{
    color: blue;
}
/* Page Login */
.body-Login{
   background-color: #0c84d3;
    
}

/* Page Daftar */
.daftar{
    background-color: white;
    padding: 35px 47px;
    height: 400px;
    width: 300px;
    box-shadow: 1px 1px 7px 1px rgba(207, 207, 207, 0.8) ;
    border-radius: 7px;
    top: 17%;
    color: black;
    text-align: left;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: table-cell;
    display: table;
    vertical-align: middle;
}

.namaakun-daftar{
    text-align: center;
    font-family: Tahoma;
    font-size: 20px;
}


.formDaftar{
    align-items: center;
    padding: 3px 20px;
    border: 1px solid #0095F6;
    border-radius: 5px;
}

.btn-daftar{
    padding: 5px 80px;
    border-radius: 7px;
    border: 0;
    background-color: #174f9c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    
}

.btn-daftar:hover{
    background: var(--green);
}

.login-daftar{
    background-color: #fff;
    margin-left: 39%;
    margin-top: 37%;
    display: table-cell;
    display: table;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding: 15px 94px;
    box-shadow: 1px 1px 7px 1px rgba(207, 207, 207, 0.8) ;
    border-radius: 7px;
}

.link-daftar{
    text-decoration: none;
    color: blue;
    font-weight: bold;
   
}
.link-daftar:hover{
    color: blue;
}

.body-daftar{
    background-image: linear-gradient(to bottom right , #274b74, #8233c5, #e963fd);
}

/* Page Biodata */

.bg{
    background: url(../images/backgroundcv.jpg);
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 800px;
    
    color: #fff;
}

.bg h1{
    font-size: 50px;
    margin-left: 5%;
    font-weight: bold;
}

.bg h2{
    margin-top: 24%;
    font-size: 30px;
    margin-left: 5%;
    font-weight: lighter;
}

.bg p{
    font-size: 15px;
    margin-top: 4% ;
    margin-left: 5%;
}

.bg a{
    font-size: 15px;
    margin-left: 5%;
    color: #fff;
    padding: 7px 15px;
    border: 2px solid #fff;
    border-radius: 50px;
}

.bg a:hover{
    background: var(--blue);
    border: 2px solid var(--blue);
}

/* section about */
.biodata{
    background-color: rgb(44, 44, 44);
    height: 560px;

}

.section-title{
    color: rgb(0, 0, 0);
}

.section-title h2{
    color: rgba(0, 0, 0, 0.404);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.section-title p{
    font-size: 28px;
    font-weight: bold;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }

  .row{
    font-family: "Poppins", sans-serif;
    margin-top: 3%;
    
  }
.row .img-content{
    width: 250px;
    float: left;

}

.row .sidebar{
    display: flex;
    font-size: 22px;
}
.row .sidebar ul li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.sub-jobdesc{
    font-size: 24px;
    color: black;
    margin-left: 23%;
}
.sub-jobdesc .desc{
    font-size: 20px;
}

/* section skill */
.skill{
    background: var(--black);
    height: 500px;
}

/* Page skill */
.section-title2 h2{
    color: rgba(255, 255, 255, 0.514);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 2%;
}
.section-title2 h2::after {
    content: "";
    width: 120px;
    height: 2px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
  }

.skill h3{
    margin-left: 10px;
    color: #fff;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.progress .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress-bar div{ 
    width: 80%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }
/* HTML */
.progress2 .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress2 .progress-bar div{ 
    width: 90%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress2 p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }
 /* CSS */
 .progress3 .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress3 .progress-bar div{ 
    width: 90%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress3 p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }
  /* JAVASCRIPT */
  .progress4 .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress4 .progress-bar div{ 
    width: 50%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress4 p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }
  /* PHP */
  .progress5 .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress5 .progress-bar div{ 
    width: 70%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress5 p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }
  /* AI */
  .progress6 .progress-bar{
    position: absolute;
    left: 150px;
    width: 60%;
    height: 10px;
    border-radius: 30px;
    background: rgb(226, 226, 226);
  }
  /* warna hijau tengah */
  .progress6 .progress-bar div{ 
    width: 90%;
    height: 100%;
    background: #4ceb95;
    border-radius: 30px;
  }
  
  .progress6 p {
    color: #fff;
    text-align: right;
    margin-right: 280px;
    margin-top: -12px;
    font-size: 24px;
  }

  /* Page Profile Rumah Makan */
  .about-profile h3{
      color: #0F2C56;
      font-size: 30px;
      font-family: 'Dancing Script' ;
  }
  .about-profile .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about-profile .row .image-profile{
    flex:1 1 40rem;
    margin-right: 5%;
    
}

.about-profile .row .image-profile2{
    flex:1 1 40rem;
    margin-left: 5%;
    
}
.about-profile .row .image-profile img{ 
    width: 100%;
}

.about-profile .row .content{
    flex:1 1 45rem;
}

.about-profile .row .content h2{
    color:var(--black);
    font-size: 3rem;
    padding:.5rem 0;
    
}

.about-profile .row .content p{
    margin-top: 2%;
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about-profile .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about-profile .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about-profile .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about-profile .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}